<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page baby</title>
</head>
<body style="background-color: #327b94;"> 
    <h1>Welcome to Cee's webpage</h1>
    <p>This is the homepage.</p>
    <p>Here you'll see everything you need to know about Cee.</p>
    <a href="/cee">See who I am😉</a>
    <p><a href="/Story">Click here</a></p>
    
    <iframe width="560" height="315" 
    src="https://www.youtube.com/embed/videoseries?si=ZG87YhVoFYcAJwxs&amp;list=PLpZBns8dFbgwQZk1EIOzNxh1SWn7wtYHD"
     title="YouTube video player" frameborder="0" 
     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
     referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>

    <h3>Watch my video</h3>
    <video width="600" controls>
        <source src="{{ url_for('static', filename='2789219dc631f0537a8cdb44346a06d79027cb52.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <!-- Link to the About page -->
    <p><a href="/about">Go to About Page😊</a></p>
    <h3>Welcome again to My Website</h3>
    <p>Here are some of my favorite photos!</p>
    <!-- Add your photo here -->
    <img src="{{ url_for('static', filename='WhatsApp Image 2024-09-21 at 13.26.56_fbff1cdf.jpg') }}" alt="My Photo" width="600">
    <!-- Add another photo of you -->
    <img src="{{ url_for('static', filename='WhatsApp Image 2024-09-22 at 16.36.55_2babfd23.jpg') }}" width="600">
</body>
</html>